.App {
  background-image: url('./assets/bg.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.img{
  position: absolute;
  bottom: 5%;
}